@use "_share/src/Platform2/colors" as P2Colors;

@mixin svg {
    height: 100%;
}

@mixin arrow {
    cursor: pointer;

    &:hover {
        color: P2Colors.$pink-medium;
    }

    & > svg {
        @include svg;
    }

    &.active {
        color: P2Colors.$pink-dark;
    }
}

@mixin sorting-header {
    display: flex;
    align-items: center;
    user-select: none;

    &.active > &--label {
        color: P2Colors.$pink-dark;
    }

    &--label {
        cursor: pointer;
        margin-right: 12px;
        padding: 0;
        font-weight: 600;

        &:focus-visible {
            outline: 2px solid P2Colors.$pink-dark;
            border-radius: 4px;
        }

        &:hover {
            color: P2Colors.$pink-medium;
        }
    }

    &--arrows {
        &--up {
            @include arrow;
            margin-bottom: 3px;

            & > svg {
                vertical-align: bottom;
            }
        }

        &--down {
            @include arrow;
            margin-top: 3px;

            & > svg {
                vertical-align: top;
            }
        }
    }
}
