@use "crosstab-builder/XB2/src/XB2/Share/Platform2/components" as P2Components;
@use "crosstab-builder/XB2/src/XB2/Share/Platform2/colors" as P2Colors;

@mixin bubble($bgColor: P2Colors.$pink-medium) {
    $size: 24px;
    border-radius: 50%;
    background-color: $bgColor;

    min-width: $size;
    min-height: $size;
    width: $size;
    height: $size;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    font-family: P2Components.$p2-fonts;
    font-weight: 600;
    font-size: 12px;
    color: white;
}
