.spinner {
    margin: auto;
    width: 70px;
    height: 24px;
    padding: 10px;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    @mixin bounce($background: #333) {
        width: 12px;
        height: 12px;
        background-color: $background;
        margin: 0 2px;

        border-radius: 100%;
        display: inline-block;
        -webkit-animation: bouncedelay 1s infinite ease-in-out;
        animation: bouncedelay 1s infinite ease-in-out;
        /* Prevent first frame from flickering when animation starts */
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }

    &__bounce-1 {
        @include bounce(#485461);

        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
    }

    &__bounce-2 {
        @include bounce(#53b7e8);

        -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s;
    }

    &__bounce-3 {
        @include bounce(#d81792);
    }
}

@keyframes bouncedelay {
    0%,
    80%,
    100% {
        transform: scale(0);
        -webkit-transform: scale(0);
    }

    40% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}
