@use "_share/src/zindex";
@use "_share/src/Platform2/colors" as P2Colors;
@use "_share/src/Platform2/components" as P2Components;

@mixin notifications() {
    @include zindex.layer("Notifications");
    position: fixed;
    bottom: 0px;
    right: 50%;
    transform: translate(50%, 0);

    &--wrapper {
        display: table;
        width: 100%;
        text-align: center;

        &:not(:last-child) {
            margin-bottom: 12px;
        }
    }

    &--notification {
        position: relative;
        user-select: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        font-family: P2Components.$p2-fonts;
        font-size: 14px;
        font-weight: 600;
        line-height: 24px;
        height: 56px;
        padding: 12px;
        min-width: 500px;
        max-width: 80%;
        background-color: P2Colors.$pink-medium;
        color: P2Colors.$white;
        border-radius: 4px 4px 0px 0px;
        text-align: left;
        opacity: 1;
        transition: opacity 1s;

        @media screen and (max-width: 600px) {
            min-width: auto;
        }

        &.hiding {
            opacity: 0;
        }

        &--action-button {
            @include P2Components.secondary-button($on-colour-bg: true, $border: true);
            flex-shrink: 0;
            margin: 0 0 0 12px;
            min-width: 60px;
            justify-content: center;
        }

        &--close {
            color: P2Colors.$white;
            cursor: pointer;
            padding-top: 8px;
            margin-right: -10px; // This is what we have to deal with by having SVG with too much padding 🤷‍♂️

            &:hover {
                color: P2Colors.$white;
            }
        }

        &--icon {
            align-items: center;
            justify-content: center;
            width: 32px;
            height: 32px;
            margin-right: 8px;
        }

        &--content {
            width: 100%;
            margin-right: auto;
            line-height: 1.2;
            word-break: break-word;
        }
    }
}
