@use "crosstab-builder/XB2/src/XB2/Share/mixins";
@use "crosstab-builder/XB2/src/XB2/Share/zindex";
@use "crosstab-builder/XB2/src/XB2/Share/Platform2/colors" as P2Colors;
@use "crosstab-builder/XB2/src/XB2/Share/Platform2/components" as P2Components;
@use "crosstab-builder/XB2/src/XB2/Share/Platform2/Scrollbar/style" as Scrollbar;

$width: 424px;
$padding: 24px;

@keyframes loading-bar {
    0%,
    44%,
    88.1%,
    100% {
        transform-origin: left;
    }

    0%,
    100%,
    88% {
        transform: scaleX(0);
    }

    44.1%,
    88% {
        transform-origin: right;
    }

    33%,
    44% {
        transform: scaleX(1);
    }
}

@mixin grouping-buttons {
    &--item-operator {
        padding: 0;
        font-weight: 600;
        color: #191530;

        &--groupings {
            display: flex;
            flex-direction: row;
            gap: 8px;
        }

        &--groupings.is-affixing &--grouping {
            &.active {
                &:before {
                    content: "";
                    position: absolute;
                    top: -9px;
                    left: calc(50% - 1px);
                    width: 2px;
                    height: 9px;
                    background-color: P2Colors.$pink-dark;
                }

                &:after {
                    content: "";
                    position: absolute;
                    bottom: -9px;
                    left: calc(50% - 1px);
                    width: 2px;
                    height: 9px;
                    background-color: P2Colors.$pink-dark;
                }
            }
        }

        &--grouping {
            @include P2Components.secondary-button($on-colour-bg: false, $border: true);
            text-transform: uppercase;
            position: relative;
            overflow: visible;
            padding: 5px 8px;
            font-size: 12px;
            border-radius: 4px;
        }
    }
}

@mixin dropdown-extra {
    &--dropdown-cont.disabled &--dropdown--pill--trigger-button--right-icon {
        opacity: 0.6;

        &:not(.active):hover {
            background: none;
            color: currentColor;
        }
    }

    &--dropdown {
        &--options {
            width: 180px;
            position: relative;
            transform: translateY(-50%);
        }

        &--pill--trigger-button {
            display: flex;
            width: 36px;
            height: 36px;
            top: 2px;
            right: 2px;
            cursor: pointer;
            justify-content: center;
            align-items: center;

            &.open:not(:hover) {
                color: P2Colors.$pink-dark;
            }
        }

        &--pill--trigger-button--right-icon {
            margin-top: 0;

            &.active {
                color: currentColor;
            }
        }
    }
}

@mixin item {
    @include dropdown-extra;

    background-color: P2Colors.$white;
    border-radius: 4px;
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    color: P2Colors.$navy;
    line-height: 20px;
    font-size: 14px;
    font-weight: normal;

    &.active {
        background-color: P2Colors.$pink-bg;
    }

    &.clickable {
        cursor: pointer;
    }

    &.selected {
        box-shadow: inset 0 0 0 2px P2Colors.$pink-dark;
        color: P2Colors.$pink-dark;
    }

    &.placeholder {
        opacity: 0.5;
        cursor: grabbing;
    }

    &.dragover {
        box-shadow: inset 0 0 0 2px P2Colors.$pink-dark;
        background-color: P2Colors.$pink-bg;
    }
}

@mixin grouping-panel() {
    width: $width;
    background-color: P2Colors.$grey2;
    display: flex;
    flex-direction: column;
    padding: $padding;
    user-select: none;

    &--undo-btn {
        &:hover:not(:disabled) {
            color: P2Colors.$pink-medium;
        }

        &:disabled {
            cursor: not-allowed;
        }
    }

    &--redo-btn {
        &:hover:not(:disabled) {
            color: P2Colors.$pink-medium;
        }

        &:disabled {
            cursor: not-allowed;
        }
    }

    &--inclusion-label {
        margin-bottom: -10px;
        font-weight: 600;
        border-radius: 4px 4px 0px 0px;
        padding: 8px 0px 0px 8px;
        width: 100%;

        &--text {
            color: #1b4f3c;
            max-width: 60px;
            padding: 0 3px;
            background-color: #d3efd4;
            font-size: 14px;

            &.excluded {
                color: #da3441;
                background-color: #f9d2c4;
            }
        }
    }

    &--header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 12px;
    }

    &--ghost-item {
        @include zindex.layer("XB2TableDragDropGhost");

        will-change: transform;
        position: fixed;
        top: 0;
        left: 0;

        display: flex;
        align-items: center;
        height: 48px;
        padding: 16px;
        background-color: P2Colors.$white;
        border: 1px solid P2Colors.$grey2;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
        border-radius: 4px;
        cursor: grabbing;
        overflow: hidden;
        font-weight: 600;
        font-size: 14px;
        color: P2Colors.$navy;

        &--text {
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    &--title {
        font-weight: bold;
        font-size: 20px;
        color: P2Colors.$navy;
        line-height: 32px;
        flex: 1;
    }

    &--clear-all-btn {
        @include P2Components.secondary-button($on-colour-bg: false, $border: false);
    }

    &--groupings-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-weight: 600;
        font-size: 14px;
        margin-bottom: 0;
        padding-bottom: 8px;

        &--info-icon {
            @include P2Components.onboarding($above-element: false, $arrow-left: false);

            &--wrapper {
                height: 24px;
            }

            &--onboarding {
                left: -320px;
                top: -20px;

                &::before {
                    width: 15px;
                    left: 300px;
                    top: 18px;
                    border-left: 19px solid P2Colors.$navy;
                    border-top: 15px solid transparent;
                    border-bottom: 15px solid transparent;
                    border-right: none;
                }
            }

            cursor: help;
            width: 24px;
            height: 24px;

            &[tooltip-content]:hover:before {
                @include zindex.layer("XB2TableScrollTooltip");
                @include P2Components.simple-tooltip;
            }
        }
    }

    &--groupings {
        display: flex;
        flex-direction: row;
        margin-left: 8px;
    }

    &--grouping {
        @include P2Components.secondary-button($on-colour-bg: false, $border: true);
        text-transform: uppercase;
        position: relative;
        overflow: visible;
        padding: 5px 8px;
        font-size: 12px;
        border-radius: 4px;

        &:not(:first-child) {
            margin-left: 8px;
        }

        &[tooltip-content]:hover:before {
            @include zindex.layer("XB2TableScrollTooltip");
            @include P2Components.simple-tooltip;
        }
    }

    &--items {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        gap: 8px;
        padding: 8px 0 16px 0;
        overflow-y: auto;

        &--content-scroll {
            position: static;
            overflow: auto;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

        &.full-height {
            flex: 1;
        }
    }

    &--item-row {
        @include P2Components.dropdown($right-icon-transparency: false);
        @include dropdown-extra;

        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &--item-group &--item-group {
        background-color: P2Colors.$grey4;
    }

    &--item-group &--item-group &--item-group {
        background-color: P2Colors.$grey5;

        &--item-row--item-operator--grouping {
            &:disabled {
                color: P2Colors.$grey5;
                border-color: P2Colors.$grey5;

                &.active:disabled:before,
                &.active:disabled:after {
                    background-color: P2Colors.$grey5;
                }
            }
        }
    }

    &--item-group &--item-group &--item-group &--item-group {
        background-color: P2Colors.$grey6;

        &--item-row--item-operator--grouping {
            color: P2Colors.$white;

            &:hover:not(.active) {
                color: P2Colors.$pink-medium;
            }

            &:disabled {
                color: P2Colors.$grey3;
                border-color: P2Colors.$grey4;

                &.active:disabled:before,
                &.active:disabled:after {
                    background-color: P2Colors.$grey4;
                }
            }
        }
    }

    &--item-group &--item-group &--item-group &--item-group &--item-group {
        background-color: P2Colors.$grey2;
    }

    &--item-group &--item-group &--item-group &--item-group &--item-group &--item-group {
        &--item-row--item-operator--grouping:not(:disabled):not(.active) {
            color: P2Colors.$navy;
        }

        &--item-row--item-operator--grouping:disabled {
            color: P2Colors.$grey6;
        }
    }

    &--item-group-cont {
        @include P2Components.onboarding($above-element: false, $arrow-left: true);

        &--onboarding {
            left: -325px;

            &::before {
                width: 15px;
                left: 300px;
                top: 102px;
                border-left: 19px solid P2Colors.$navy;
                border-top: 15px solid transparent;
                border-bottom: 15px solid transparent;
                border-right: none;
            }
        }

        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &--item-group-cont &--item-group-cont {
        gap: 0;
    }

    &--item-group-cont
        &--item-group-cont
        &--item-group--children
        > &--item-group-cont:first-child {
        width: calc(100% - 32px);
    }

    &--item-group {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;

        color: P2Colors.$navy;
        font-weight: 600;
        font-size: 14px;

        padding: 8px;
        background-color: P2Colors.$grey3;
        border: 1px solid P2Colors.$navy;
        border-radius: 4px;

        &.active {
            border: 2px dashed P2Colors.$pink-medium;
        }

        &.placeholder {
            opacity: 0.5;
            cursor: grabbing;
        }

        &.dragover {
            box-shadow: inset 0 0 0 2px P2Colors.$pink-dark;
            background-color: P2Colors.$pink-bg;
        }

        & > &--name:first-child,
        &--children > &--item-row:first-child {
            width: calc(100% - 32px);
        }

        &--name {
            display: flex;
            justify-content: center;
            flex-direction: row;
            width: 100%;
            border: 1px dashed P2Colors.$grey5;
            border-radius: 4px;
            margin-bottom: 8px;
            min-height: 34px;
            padding: 0;
            overflow: hidden;

            &--input {
                background-color: P2Colors.$white;
                border-radius: 4px;
                border: 1px solid P2Colors.$pink-dark;
                width: calc(100% - 32px);
                height: 34px;
                margin-bottom: 8px;
                color: P2Colors.$navy;
                font-size: 14px;
                font-weight: 600;
                padding-left: 7px;
            }

            &--icon {
                cursor: pointer;
                width: 32px;
                height: 32px;
            }

            &--text {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 100%;
                height: auto;
                padding: 8px 8px 8px 0;
            }
        }

        &--dropdown {
            position: absolute;
            top: 2px;
            right: 2px;
        }

        &--item-row {
            @include grouping-buttons;

            display: flex;
            flex-direction: column;
            width: 100%;

            &--item-operator {
                margin-top: 8px;
                margin-bottom: 8px;

                &--grouping {
                    color: P2Colors.$navy;
                    border-color: currentColor;

                    &.active {
                        &:before {
                            content: "";
                            position: absolute;
                            top: -9px;
                            left: calc(50% - 1px);
                            width: 2px;
                            height: 9px;
                            background-color: P2Colors.$pink-dark;
                        }

                        &:after {
                            content: "";
                            position: absolute;
                            bottom: -9px;
                            left: calc(50% - 1px);
                            width: 2px;
                            height: 9px;
                            background-color: P2Colors.$pink-dark;
                        }
                    }

                    &.active:disabled:before,
                    &.active:disabled:after {
                        background-color: P2Colors.$grey4;
                    }
                }
            }

            &--item-icon {
                height: 32px;
                width: 32px;
            }

            &--item {
                @include P2Components.dropdown($right-icon-transparency: false);
                @include item;

                width: 100%;

                &--inclusion-label {
                    margin-bottom: -10px;
                    font-weight: 600;
                    border-radius: 4px 4px 0px 0px;
                    padding: 0px 0px 4px 8px;
                    width: 100%;

                    &--text {
                        color: #1b4f3c;
                        max-width: 60px;
                        padding: 0 3px;
                        background-color: #d3efd4;
                        font-size: 14px;

                        &.excluded {
                            color: #da3441;
                            background-color: #f9d2c4;
                        }
                    }
                }

                &.with-icon {
                    padding: 8px;
                }

                &:not(.with-icon) {
                    min-height: 48px;
                    padding: 8px 8px 8px 0;
                }

                &--name {
                    padding-left: 16px;
                    flex-grow: 1;
                }

                &--names {
                    flex: 1;
                    padding: 11px 0;

                    &--subtitle {
                        margin: 0;
                        font-size: 12px;
                        line-height: 1.45;
                        color: P2Colors.$grey6;
                    }

                    &--title {
                        margin: 0;
                        font-size: 14px;
                        font-weight: 600;
                        color: currentColor;
                        padding: 0;

                        &.subtitle-only {
                            margin-bottom: 0;
                        }
                    }
                }

                &--dropdown {
                    display: flex;
                    height: 36px;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }

    @include grouping-buttons;

    &--item {
        @include item;
    }

    &--names {
        flex: 1;
        padding: 11px 0;

        &--subtitle {
            margin: 0;
            font-size: 12px;
            line-height: 1.45;
            color: P2Colors.$grey6;
        }

        &--title {
            margin: 0;
            font-size: 14px;
            font-weight: 600;
            color: currentColor;
            padding: 0;

            &.subtitle-only {
                margin-bottom: 0;
            }
        }
    }

    &--item-icon {
        margin: 0 4px;
        width: 32px;
        height: 32px;
    }

    &--item-close-btn {
        margin: 4px 10px 4px 4px;
        width: 32px;
        height: 32px;
        cursor: pointer;
    }

    &--placeholder {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 2px;
        padding: 16px;

        &--button {
            @include P2Components.primary-button($on-colour-bg: false);
            height: 32px;
            margin-top: 17px;
        }
    }

    &--placeholder-message {
        margin-top: 24px;
        max-width: 220px;
        color: P2Colors.$navy;
    }

    &--placeholder-text {
        font-size: 16px;
        line-height: 21px;

        &.bold {
            font-weight: 600;
        }
    }

    &--loading-bar {
        display: block;
        position: relative;
        width: 100%;
        display: grid;
        place-items: center;
        margin-top: -4px;
        height: 4px;
        background-color: P2Colors.$pink-light;

        &::before,
        &::after {
            content: "";
            box-sizing: border-box;
            position: absolute;
        }

        &::before {
            height: 4px;
            width: 100%;
            background-color: P2Colors.$pink-dark;
            animation: loading-bar 0.8s cubic-bezier(0, 0, 0.03, 0.9) infinite;
        }
    }

    &--loading-state {
        display: flex;
        align-items: center;
        color: P2Colors.$white;
        font-size: 14px;
        line-height: 18px;
        font-weight: 600;
        background-color: P2Colors.$pink-medium;
        padding: 10px;
        border-radius: 0 0 4px 4px;
    }

    &--warning {
        display: flex;
        align-items: center;
        padding: 12px;
        border-radius: 4px;
        background-color: #f6c26d;
        font-weight: 600;
        font-size: 14px;
        margin-top: 16px;

        &--icon {
            margin-right: 8px;
        }
    }

    &--buttons {
        margin-top: 16px;
        display: flex;
        flex-direction: row;
    }

    &--button {
        @include P2Components.primary-button($on-colour-bg: false);

        flex: 1;
        justify-content: center;

        &:not(:first-child) {
            margin-left: 8px;
        }
    }
}
