@use "crosstab-builder/XB2/src/XB2/Share/zindex";

@mixin notifications() {
    @include zindex.layer("Notifications");
    position: fixed;
    top: 0px;
    right: 50%;
    transform: translate(50%, 0);

    &--wrapper {
        display: table;
        width: 100%;
        text-align: center;

        &:not(:last-child) {
            margin-bottom: 12px;
        }
    }

    &--notification {
        position: relative;
        user-select: none;
        display: inline-block;
        margin: 0 auto;
        font-size: 14px;
        line-height: 16px;
        min-height: 48px;
        padding: 16px 58px 16px 24px;
        background-color: #c7f2ea;
        color: #00575c;
        border-radius: 0px 0px 2px 2px;
        text-align: left;
        opacity: 1;
        transition: opacity 1s;

        &.success {
            color: #00575c;
            background-color: #c7f2ea;
        }

        &.warning {
            color: #b35512;
            background-color: #faeccf;
        }

        &.error {
            color: #96053a;
            background-color: #ffd6db;
        }

        &--close {
            position: absolute;
            top: 16px;
            right: 24px;
            font-weight: bold;
            line-height: 1;
            opacity: 0.7;

            font-family: Verdana, sans-serif;
            font-size: 12px;

            &:hover {
                cursor: pointer;
                opacity: 0.5;
            }
        }

        &.hiding {
            opacity: 0;
        }
    }

    &--notification-line {
        &:not(:first-child) {
            margin-top: 8px;
        }

        &.bold {
            font-weight: bold;
        }
    }

    &--notification-text {
        &.bold {
            font-weight: bold;
        }
    }
}
