@use "_share/src/mixins";
@use "_share/src/zindex";

.pop-up-overlay {
    @include zindex.layer("DialogPopupOverlay");
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ffffff;
    opacity: 0.6;
}

$border-radius: 5px;

$color-bg: #7c2494;
$color-header-bg: #410851;
$color-details-font: #bdc9de;
$color-grey1: #8792a9;
$color-rhino: #444955;
$color-border: #e9edf6;
$color-ebony-clay: #283645;
$color-gwi-pink: #d4007b;
$color-curious-blue: #3498db;

.pop-up {
    @mixin button {
        padding: 7px 20px;
        margin-bottom: 30px;
        margin-right: 5px;
        border-radius: 50px;
        border: 2px solid #ffffff;
        color: #ffffff;
    }

    @mixin popup {
        @include zindex.layer("DialogPopup");
        position: absolute;
        width: 350px;
        height: auto;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        padding: 0;
        border-radius: $border-radius;
        color: #ffffff;
        background: $color-bg;

        &--header {
            position: relative;
            height: 60px;
            line-height: 60px;
            padding: 0 20px;
            background: $color-header-bg;
            border-top-left-radius: $border-radius;
            border-top-right-radius: $border-radius;

            &--close {
                position: absolute;
                top: 0;
                right: 20px;
                bottom: auto;
                left: auto;
                padding: 0;
                line-height: 60px;
                font-size: 23px;
                color: #ffffff;
                opacity: 0.6;
            }
        }

        &--body {
            margin: 30px 0;
            padding: 0 20px;
            font-size: 14px;
            max-height: 180px;
            overflow: auto;
            position: relative;

            p {
                margin-top: 0;
            }

            p.with-margin-top {
                margin-top: 12px;
            }

            p:last-child {
                margin-bottom: 0;
            }

            &--text,
            p {
                color: #ffffff;
                font-size: 14px;

                a {
                    color: #ffffff;
                    cursor: pointer;
                    text-decoration: underline;
                }
            }

            &--details {
                @include mixins.normalize-ul;
                font-size: 12px;
                color: $color-details-font;
                margin-top: 20px;
            }
        }

        &--buttons {
            padding-left: 20px;

            &--no {
                @include button;
            }

            &--yes {
                @include button;
                color: $color-bg;
                background: #ffffff;
            }

            &--help {
                @include button;
            }

            &--plain {
                @include button;
            }

            &--link {
                color: #ffffff;
                cursor: pointer;
                text-decoration: underline;
                padding: 7px 20px;
            }
        }
    }

    &__confirm {
        @include popup;
    }

    &__alert {
        @include popup;
    }

    &__error {
        @include popup;
    }
}
