.p2-spinner {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 56px;
    width: 56px;
    text-align: center;
    margin: auto;
    animation: rotate 1.4s linear infinite;

    @keyframes rotate {
        100% {
            transform: rotate(360deg);
        }
    }
}
