@use "_share/src/zindex";
@use "_share/src/Platform2/components" as P2Components;
@use "_share/src/Platform2/Bubble/style" as Bubble;
@use "_share/src/Platform2/colors" as P2Colors;
@use "_share/src/Platform2/Scrollbar/style" as Scrollbar;

@mixin _list-item() {
    display: flex;
    align-items: center;
    min-height: 48px;
    padding: 8px 16px 8px 24px;
    color: P2Colors.$navy2;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

    &:not(.not-allowed):hover {
        color: P2Colors.$pink-medium;
    }

    &.selected {
        color: P2Colors.$pink-dark;

        &:hover {
            color: P2Colors.$pink-medium;
        }
    }

    &.selected &--checkbox {
        &:hover {
            color: P2Colors.$pink-dark;
        }
    }

    &--checkbox {
        display: inline-block;
        width: 32px;
        height: 32px;

        &--indicator {
            position: absolute;
            left: 30px;
            z-index: -200;
            opacity: 0;
        }
    }

    &--checkbox--indicator:focus-visible + &--checkbox {
        outline: 2px solid P2Colors.$pink-dark;
        border-radius: 4px;
    }

    &.not-allowed {
        color: P2Colors.$grey4;
    }

    &.top-level {
        padding-left: 16px;
    }

    &.top-level,
    &.top-level.selected {
        border-top: 0;
    }

    &.top-level &--checkbox {
        margin-right: 8px;
    }

    &.checkbox-at-top {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 16px;
        justify-content: flex-start;
    }

    &.checkbox-at-top &--checkbox {
        margin-top: -7px;
        margin-right: 8px;
        align-self: flex-start;
    }

    &.checkbox-at-top &--inner--description {
        margin-top: 8px;
    }
}

@mixin drawer-selection-panel() {
    color: P2Colors.$navy;
    display: grid;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
    gap: 10px;

    &--selection-info {
        display: flex;
        flex-grow: 1;
        overflow: hidden;
        align-items: center;

        &--items {
            flex-grow: 1;
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 14px;
        }

        &--counter {
            @include Bubble.bubble();

            .locked & {
                @include Bubble.bubble($bgColor: P2Colors.$grey5);
            }
            margin: 5px;
        }

        &--locked {
            @include P2Components.tooltip;

            display: inline-flex;
            align-items: center;
            height: 32px;
            cursor: pointer;
            color: P2Colors.$navy;
            cursor: help;

            &:hover {
                color: P2Colors.$pink-medium;
            }
        }
    }

    &--container {
        @include P2Components.tooltip(translate(-50%, 50%));

        display: flex;
        background: P2Colors.$white;
        border-radius: 4px;
        line-height: 32px;
        flex: 1 1 auto;
        height: 32px;
        padding: 0;
        text-align: left;
        align-items: stretch;
        overflow: visible;
        cursor: pointer;

        &.locked {
            background-color: P2Colors.$grey3;
            color: P2Colors.$grey5;
            cursor: not-allowed;
        }

        &:hover:not(.locked) {
            box-shadow: inset 0 0 0 2px P2Colors.$pink-medium;
        }

        &:focus-visible {
            outline: 2px solid P2Colors.$pink-dark;
        }
    }

    &--label {
        font-size: 14px;
        font-weight: 600;
        margin-right: 8px;
    }

    &--icon {
        color: P2Colors.$pink-medium;
    }

    &--container.locked &--icon {
        color: P2Colors.$grey5;
    }
}

@mixin item {
    $root: &;
    display: flex;
    align-items: center;
    height: 48px;
    //padding: 0px 9px 12px 0px;
    //padding: 12px 9px 12px 24px;
    color: P2Colors.$navy2;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

    &.selected {
        color: P2Colors.$pink-dark;
    }

    &--checkbox {
        display: inline-block;
        width: 32px;
        height: 32px;

        #{$root} &:hover {
            color: P2Colors.$pink-medium;
        }

        &:hover {
            color: P2Colors.$pink-medium;
        }

        &--indicator {
            position: absolute;
            left: 25px;
            z-index: -200;
            opacity: 0;
        }
    }

    &--checkbox--indicator:focus-visible + &--checkbox {
        outline: 2px solid P2Colors.$pink-dark;
        border-radius: 4px;
    }

    &--icon {
        height: 32px;
        margin-right: 8px;
    }

    &--inner {
        display: inline-flex;
        width: 100%;
        align-items: center;
        color: P2Colors.$navy2;

        &:focus-visible {
            outline: 2px solid P2Colors.$pink-dark;
            border-radius: 4px;
        }

        &:hover {
            color: P2Colors.$pink-medium;
        }

        #{$root}.selected &:hover {
            color: P2Colors.$pink-medium;
        }

        #{$root}.not-allowed & {
            color: P2Colors.$grey4;
            cursor: default;
        }

        &--content {
            flex: 1 0 auto;
            display: flex;
            flex-direction: column;
            margin-left: 8px;
            font-weight: bold;
            align-items: flex-start;

            &--subtitle {
                color: P2Colors.$navy;
            }
        }

        &--right-icon {
            width: 32px;
            height: 32px;
        }
    }

    &.readonly {
        padding-left: 16px;
        user-select: auto;
    }

    &.readonly &--inner:hover {
        color: P2Colors.$pink-medium;
    }

    &.readonly:hover {
        cursor: default;
    }
}

@mixin drawers() {
    @include zindex.layer("P2DrawerOverlay");

    background-color: rgba(25, 21, 48, 0.4);

    // We need to get out of the div given to us by P2 kernel and draw this
    // over the top navigation div too. Other P2 apps solve this by having this
    // drawer element as a direct child of <body> but we cannot do that with
    // Elm (save for some webcomponent / additional Elm app hack). So we keep
    // the DOM structure as is, and use `position: fixed` instead of `position:
    // absolute`.
    position: fixed;
    top: 0; // makes it work with P2 (menu on top)
    right: 0; // makes it work with P1 (menu on left)
    height: 100%;
    width: 100%;

    visibility: hidden;
    opacity: 0;
    overflow: hidden;

    transition-property: opacity, visibility;
    transition-duration: 100ms;
    transition-timing-function: ease-out;

    &.open {
        opacity: 1;
        visibility: visible;
    }

    &--overlay {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    &--content {
        @include zindex.layer("P2DrawerOverlay");
        display: flex;
        flex-direction: column;
        position: absolute;
        height: 100%;
        width: 352px;
        background-color: P2Colors.$white;
        color: P2Colors.$white;
        right: 0;
        user-select: none;

        font-family: P2Components.$p2-fonts;

        opacity: 0;
        transform: translate(326px, 0);
        visibility: hidden;

        transition-property: opacity, transform, visibility;
        transition-duration: 100ms;
        transition-timing-function: ease-out;
        box-shadow:
            0px 8px 10px -5px rgba(0, 0, 0, 0.2),
            0px 16px 24px 2px rgba(0, 0, 0, 0.14),
            0px 6px 30px 5px rgba(0, 0, 0, 0.12);

        &.open {
            opacity: 1;
            transform: translate(0, 0);
            visibility: visible;
            position: fixed;
        }

        &--error {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &--description {
            padding: 0px 0px 16px 24px;
            font-size: 14px;
            text-align: left;
            color: P2Colors.$navy2;

            &--title {
                display: block;
                text-align: left;
                color: P2Colors.$navy2;
            }
        }

        &--header {
            margin-bottom: 16px;

            &--close-button {
                position: absolute;
                right: 9px;
                top: 12px;
                width: 32px;
                height: 32px;
                padding: 0;
                color: P2Colors.$navy2;

                &:focus-visible {
                    outline: 2px solid P2Colors.$pink-dark;
                    border-radius: 4px;
                }

                &:hover {
                    color: P2Colors.$pink-medium;
                }
            }

            &--title {
                margin: 22px 48px 0 24px;
                font-size: 20px;
                font-weight: 600;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.2;
                letter-spacing: normal;
                text-transform: none;
                color: P2Colors.$navy2;
                user-select: none;
                cursor: default;
            }

            &--select-all-button {
                @include P2Components.secondary-button($border: true);
                color: P2Colors.$navy2;
                border: 1px solid P2Colors.$grey5;
                border-radius: 4px;
                margin: 20px 24px 16px;
            }

            &--search-row {
                display: flex;
                justify-content: space-between;
                gap: 16px;
                align-items: center;
                margin: 20px 20px 0 24px;

                &--search {
                    position: relative;
                    height: 32px;

                    &--left-icon {
                        position: absolute;
                        height: 32px;
                        width: 32px;
                        color: P2Colors.$grey6;
                        top: 0;
                        right: 0;
                    }

                    &--input {
                        width: 100%;
                        flex: 1 1 auto;
                        margin-right: 8px;
                        font-family: P2Components.$p2-fonts;
                        border: none;
                        border-radius: 16px;
                        border: solid 1px P2Colors.$grey2;
                        background-color: P2Colors.$grey1;
                        line-height: 32px;
                        height: 32px;
                        padding-left: 12px;
                        padding-right: 64px;
                        color: P2Colors.$navy;
                        font-size: 14px;
                        font-weight: 600;

                        &::placeholder {
                            color: P2Colors.$grey6;
                            font-weight: normal;
                        }

                        &:focus {
                            outline: none;
                            border-color: P2Colors.$pink-dark;
                            box-shadow: 0px 0 0px 1px P2Colors.$pink-dark;
                        }
                    }

                    &--input:focus ~ &--left-icon {
                        color: P2Colors.$pink-dark;
                    }

                    &--clear-btn {
                        position: absolute;
                        width: 32px;
                        height: 32px;
                        padding: 0;
                        top: 0;
                        right: 28px;

                        &:hover {
                            color: P2Colors.$pink-medium;
                        }
                    }
                }

                &--select-all-button {
                    @include P2Components.secondary-button($border: true);
                    min-width: 100px;
                    color: P2Colors.$navy2;
                    border: 1px solid P2Colors.$grey5;
                    border-radius: 4px;
                    justify-content: center;
                }
            }
        }

        &--search-items {
            overflow-y: auto;
        }

        &--items {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            overflow-x: hidden;
            list-style: none;
            margin: 0;
            padding: 0;
            border-top: 1px solid P2Colors.$grey3;
        }

        &--itemwrapper {
            border-bottom: 1px solid #ced9eb;
            margin: 0px 19px;
            //padding: 12px 9px 12px 24px;
        }

        &--list-items {
            height: 0px;

            &.open {
                height: 100%;
            }
        }

        &--sub-items {
            height: auto;
            list-style: none;
            padding: 0 0 0 32px;
            border-top: 1px solid P2Colors.$grey6;
        }

        &--list-item {
            @include _list-item();
            $root: &;
            min-height: auto;
            height: auto;
            color: P2Colors.$navy2;

            &.top-level.impression:not(.first-item) {
                border-top: 1px solid P2Colors.$grey6;

                &.selected {
                    border-top: 1px solid P2Colors.$grey6;
                }
            }

            &:not(.top-level) {
                padding-left: 56px;
            }

            &.timezones:not(.top-level) {
                padding-left: 48px;
            }

            &--inner {
                &--name {
                    display: block;
                }

                &--description {
                    display: block;
                    font-size: 14px;
                    font-weight: 400;
                }

                #{$root}.selected & {
                    color: P2Colors.$navy2;
                }

                #{$root}.selected &:hover {
                    color: P2Colors.$pink-medium;
                }
            }

            &:not(.top-level) &--inner {
                padding-left: 8px;
            }
        }

        &--search-list-item {
            @include _list-item();
        }

        &--item {
            @include item;
        }

        &--item-with-description {
            @include item;
            height: auto;
            min-height: 48px;
            padding-left: 16px;

            display: block;

            &--name-and-icons {
                display: flex;
            }

            &--description {
                font-size: 14px;
                font-weight: normal;
                padding-left: 73px;
            }
        }

        &--no-results {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: P2Colors.$navy2;
            font-size: 16px;
            text-align: center;
        }

        &--segmenting {
            height: 50px;
            padding: 8px 16px 10px 24px;
            display: flex;
            background-color: P2Colors.$grey6;

            &--label {
                align-self: center;
                font-size: 14px;
                font-weight: 600;
                color: P2Colors.$white;
            }

            &--switch {
                width: 56px;
                height: 24px;
                display: inline-block;
                position: relative;
                margin-left: 25px;
                align-self: center;

                &--input {
                    opacity: 0;
                    width: 0;
                    height: 0;
                }

                &--slider {
                    position: absolute;
                    cursor: pointer;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    border: 1px solid P2Colors.$white;
                    background-color: transparent;
                    transition: all 0.4s;
                    border-radius: 34px;

                    &--dot {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        margin: auto 0;
                        left: unset;
                        right: 4px;
                        width: 16px;
                        height: 16px;
                        background-color: P2Colors.$white;
                        border-radius: 50%;
                    }

                    &:before {
                        content: "Off";
                        position: absolute;
                        left: 4px;
                        right: unset;
                        top: 2px;
                        bottom: 4px;
                        height: 16px;
                        width: 16px;
                        font-size: 14px;
                        font-weight: 600;
                        line-height: 1.29;
                    }
                }

                &--slider.active:before {
                    content: "On";
                    left: unset;
                    right: 8px;
                }

                &--slider.active &--slider--dot {
                    left: 4px;
                    right: unset;
                }

                &--input:checked + &--slider {
                    border: 1px solid P2Colors.$white;
                    background-color: transparent;
                }

                &--input:hover + &--slider {
                    background-color: P2Colors.$pink-medium;
                }
            }
        }

        &--modal {
            &--warning {
                @include zindex.layer("P2DrawerOverlay");

                background: rgba(25, 21, 48, 0.5);
                position: absolute;
                display: flex;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                justify-content: center;
                align-items: center;

                &--content {
                    display: flex;
                    flex-direction: column;
                    width: 90%;
                    background-color: P2Colors.$white;
                    border-radius: 5px;
                    padding: 16px;
                    color: P2Colors.$navy;
                    font-size: 14px;
                    max-height: 500px;
                    overflow-y: auto;

                    &--paragraph {
                        color: P2Colors.$navy;
                    }

                    &--title {
                        font-size: 16px;
                        font-weight: 600;
                        margin: 0 0 8px 0;
                        color: P2Colors.$navy;
                    }

                    &--buttons {
                        display: flex;
                        flex-direction: row;
                        justify-content: right;
                        margin-top: 24px;
                    }

                    &--btn-cancel {
                        @include P2Components.secondary-button(
                            $on-colour-bg: false,
                            $border: false
                        );
                    }

                    &--btn-confirm {
                        @include P2Components.primary-button($on-colour-bg: false);
                    }
                }
            }
        }

        &--footer {
            box-shadow: 0 -4px 5px 0 rgba(1, 1, 4, 0.1);
            padding: 24px;
            @include zindex.layer("P2DrawerFooter");

            &--warning {
                position: relative;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                width: calc(100% + 48px);
                left: -24px;
                top: -24px;
                margin: 4px 0;
                padding: 12px 12px 12px 4px;
                background-color: P2Colors.$yellow-medium;
                color: P2Colors.$navy;
                font-size: 14px;
                font-weight: 600;
                gap: 4px;
            }

            &--selected {
                display: block;
                font-size: 12px;
                font-weight: 600;
                color: P2Colors.$white;
                padding: 0 0 8px 0;

                &--label {
                    color: P2Colors.$grey4;
                    font-weight: 400;
                }
            }

            &--apply-button {
                @include P2Components.primary-button();
                justify-content: center;
                width: 100%;
            }
        }
    }
}
