@use "_share/src/mixins";
@use "_share/src/zindex";

$color-bg: #ffffff;
$color-item-bg: $color-bg;
$color-item-bg-hover: #f4f6fa;
$color-border: #d8e7ed;
$color-text: #8792a9;
$color-light-text: #c7d2e8;
$color-text-active: #444955;
$color-menu-background: #e9edf6;
$position-top-region-icon: 22px;
$position-right-region-icon: 18px;

$color-audience-folder-border: #11709b;
$color-audience-folder: #ffffff;
$color-audience: #ffffff;
$color-audience-bg: #1c8fca;
$color-audience-hover-bg: #00aff0;

$menu-width: 360px;
$menu-vertical-width: 60px;

@mixin slider($color, $borderColor, $position) {
    background-color: $color;
    border: solid 1px $borderColor;

    &::before {
        content: "";
        position: absolute;
        border-radius: 50%;
        height: 10px;
        width: 10px;
        left: $position;
        bottom: 0px;
        background-color: white;
        -webkit-transition: 0.1s;
        transition: 0.1s;
    }
}

@mixin icon-select-indicator(
    $top: $position-top-region-icon,
    $right: $position-right-region-icon
) {
    position: absolute;
    display: block;
    width: 15px;
    height: 15px;
    top: $top;
    right: $right;
    cursor: pointer;
    background: url("/assets/vectors/filters/toggle-sprite.svg") no-repeat;
    background-size: 15px 49px;

    &.all {
        background-position: 0 -34px;
    }

    &.some {
        background-position: 0 -17px;
    }

    &.upsell {
        background: url("/assets/vectors/icons/cube.svg") no-repeat;
        background-size: contain;
        cursor: default;
    }
}

@mixin reset-button {
    position: relative;
    display: inline-block;
    padding: 8px 10px 9px 12px;
    width: 100%;
    line-height: 25px;
    border-bottom: 1px solid #d8e7ed;
    background: $color-item-bg;
    color: $color-text;
    font-weight: 600;
    cursor: pointer;
    font-size: 13px;
}

@mixin search-input {
    @include mixins.placeholder-color(#8792a9);

    width: 100%;
    line-height: 35px;
    height: 35px;
    padding: 0 10px 0 37px;
    border: 1px solid $color-border;
    font-size: 13px;
    background: #ffffff url("/assets/vectors/locations/search.svg") no-repeat;
    background-size: 17px;
    background-position: 10px 10px;
    color: #283645;
    outline: none;
}

@mixin toggle {
    text-align: left;

    &--label {
        display: inline-block;
        margin-right: 8px;
        font-size: 13px;
        line-height: 1.5;
        text-align: left;
        color: #5f6677;
    }

    &--toggle {
        position: relative;
        display: block;
        float: right;
        width: 24px;
        height: 12px;
        top: 5px;

        &--slider {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 7px;
            cursor: pointer;
            -webkit-transition: 0.1s;
            transition: 0.1s;

            &.off {
                @include slider(#c7d2e8, #8792a9, 0px);
            }

            &.on {
                @include slider(#3498db, #3498db, 12px);
            }
        }
    }
}

@mixin top-nav-button {
    min-width: 25px; //necessary for flexbox, simple width is ignored while other elements are wider
    max-width: 25px;
    margin: 0 10px;
    padding: 0;
    color: #8792a9;

    &:hover,
    &.active {
        color: #3498db;
    }
}

@mixin confirm-delete-btn {
    display: inherit;
    min-width: 36px;
    height: 36px;
    border-radius: 5px;
    border: 1px solid $color-border;
}

@mixin audience-and-folder-base-sizing {
    position: relative;
    margin: 5px 10px;
    font-size: 13px;
    border-radius: 4px;
}

@mixin filters-container-rules {
    position: absolute;
    min-width: $menu-width - $menu-vertical-width - 1px; //menu border
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    &__error {
        padding: 10px;
        text-align: center;
    }
}

@mixin scrollable-area($header-height) {
    position: relative;
    height: calc(100% - #{$header-height});
}

@mixin basic-item-selection-dot($bgColor: #20bbfc) {
    &::after {
        content: "";
        position: absolute;
        display: block;
        width: 10px;
        height: 10px;
        top: 24px;
        right: $position-right-region-icon + 3px;
        border-radius: 10px;
        background-color: $bgColor;
    }
}

@mixin basic-list-item {
    &--item {
        position: relative;
        padding: 0;
        padding: 10px 10px 10px 15px;
        width: 100%;
        font-size: 13px;
        line-height: 39px;
        border-bottom: 1px solid $color-border;
        background: $color-item-bg;
        color: $color-text;
        cursor: pointer;

        &:hover {
            @include basic-item-selection-dot(rgba(32, 187, 252, 0.4));
        }

        &.active {
            @include basic-item-selection-dot;

            &:hover {
                &:after {
                    background-color: #20bbfc;
                }
            }
        }

        &.inaccessible {
            &::after {
                content: "";
                display: block;
                position: absolute;
                width: 14px;
                height: 14px;
                top: 24px;
                right: 18px;
                opacity: 1;
                border-radius: 0;
                background: transparent url("/assets/vectors/icons/cube.svg") no-repeat;
            }

            &:hover {
                &::after {
                    background-color: transparent;
                }
            }
        }
    }
}

@mixin empty-list {
    &--empty {
        display: flex;
        width: 100%;
        height: 100%;
        font-style: italic;
        text-align: center;
        color: $color-text;
        align-items: center;
        justify-content: center;
        padding: 0 12px;
    }
}

.right-filter-menu {
    @include zindex.layer("Filters");
    position: absolute;
    width: $menu-width;
    height: 100%;
    top: 0;
    right: 0;
    padding-left: $menu-vertical-width;
    border-left: 1px solid $color-border;
    background: $color-item-bg;
    transition: width 300ms ease-in-out;

    &.closed {
        width: $menu-vertical-width;
    }

    &__vertical {
        position: absolute;
        left: 0;
        top: 0;
        width: $menu-vertical-width;
        height: 100%;
        padding-top: 25px;
        border-right: 1px solid $color-border;
        background: #f4f6fa;
    }

    &__filters {
        position: relative;
        width: auto;
        height: 100%;
    }

    &__item {
        position: relative;
        display: block;
        width: 60px;
        height: 20px;
        margin: 0 auto 40px auto;
        padding-bottom: 28px;
        font-size: 12px;
        font-weight: 600;
        line-height: 1.33;
        text-align: center;
        color: #8792a9;
        cursor: pointer;

        &.active,
        &:hover {
            color: #3498db;
        }

        &.selected-filters {
            &::before {
                content: attr(data-count);
                position: absolute;
                min-width: 10px;
                height: 20px;
                top: -10px;
                right: 5px;
                line-height: 20px;
                padding: 0 5px;
                border-radius: 20px;
                border: 1px solid #ffffff;
                font-size: 12px;
                background: #e6007e;
                color: #ffffff;
                text-align: center;
                box-shadow: 1px 2px 4px #bbbbbb;
            }
        }

        &--icon {
            display: block;
            margin: 0 auto;
        }
    }
}

.filter-locations {
    @include filters-container-rules;

    $header-height: 43px;
    $help-height: 70px;
    $segment-toggle-height: 36px;

    &__header {
        position: relative;
        width: 100%;
        height: $header-height;
    }

    &__segment-toggle {
        height: $segment-toggle-height;

        &--button {
            background-color: #f4f6fa;
            width: 100%;
            padding: 8px 10px 9px 12px;
        }
    }

    &__toggle-with-label {
        @include toggle;
    }

    &__scrollable-area {
        --toggleHeight: 0px;
        --helpHeight: 0px;
        position: relative;
        height: calc(
            100% - #{$header-height} - 60px - var(--helpHeight) - var(--toggleHeight)
        );

        &.with-help {
            --helpHeight: #{$help-height};
        }

        &.with-segment-toggle {
            --toggleHeight: #{$segment-toggle-height};
        }
    }

    &__search {
        width: 100%;
        padding: 12px 13px 0px 12px;
        background: $color-item-bg;

        &--input {
            @include search-input;
        }

        &--hr {
            height: 1px;
            margin: 12px 0 0 0;
            border: 0;
            background: $color-border;
        }
    }

    &__reset-locations {
        @include reset-button;
    }

    &__reset-all-toggle-icon {
        @include icon-select-indicator(14px);
        background: url("/assets/vectors/filters/toggle-sprite.svg") no-repeat;
    }

    &__search-list {
        @include mixins.normalize-ul;
        font-size: 13px;
        border-bottom: 1px solid #f4f6fa;
    }

    &__list {
        @include mixins.normalize-ul;
        @include basic-list-item;
        @include empty-list;

        font-size: 13px;

        &--inner {
            @include mixins.normalize-ul;
        }

        &--region {
            position: relative;
            padding: 0;
            border-bottom: 1px solid #d8e7ed;
            background: $color-item-bg;
            color: $color-text;
            cursor: pointer;

            &.on > &--link {
                color: $color-text-active;

                &::before {
                    transform: rotate(45deg);
                }
            }

            &--link {
                position: relative;
                display: inline-block;
                padding: 10px 10px 10px 62px;
                width: 100%;
                line-height: 39px;
                color: $color-text;

                &:hover {
                    color: $color-text;
                    background: $color-item-bg-hover;
                }

                &::after {
                    content: "";
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    top: 21px;
                    left: 34px;
                    background: url("/assets/vectors/locations/region.svg") no-repeat;
                    background-size: 17px;
                }

                &::before {
                    content: "";
                    position: absolute;
                    display: block;
                    width: 7px;
                    height: 7px;
                    left: 13px;
                    top: 26px;
                    border-right: 1px solid $color-text;
                    border-bottom: 1px solid $color-text;
                    transform: rotate(-45deg);
                    transition: transform 200ms ease-in-out;
                }

                &--reset-icon {
                    @include icon-select-indicator;
                    background: url("/assets/vectors/filters/toggle-sprite.svg") no-repeat;
                }
            }
        }

        &--item {
            border-top: 1px solid #f4f6fa;
            border-bottom: none;

            &.active {
                color: $color-text-active;
            }
        }
    }

    &__group {
        .filter-item {
            background: $color-border;
            border-color: $color-item-bg;
            color: #444955;
        }
    }

    &__help {
        position: absolute;
        height: $help-height;
        background: #f4f6fa;
        padding: 16px 24px;
        font-size: 13px;
        color: #8792a9;
        bottom: 0;

        &--link {
            color: #3498db;
        }
    }
}

.filter-waves {
    @include filters-container-rules;

    &__scrollable-area {
        @include scrollable-area(43px);
    }

    &__list {
        @include mixins.normalize-ul;
        @include basic-list-item;
        @include empty-list;
    }

    &__heading {
        position: relative;
        display: inline-block;
        padding: 8px 10px 9px 12px;
        width: 100%;
        line-height: 30px;
        border-bottom: 1px solid $color-border;
        background: $color-item-bg;
        color: $color-text;
        cursor: pointer;
        font-size: 13px;
    }

    &__reset {
        position: relative;

        &--button {
            @include reset-button;
        }

        &--toggle-icon {
            @include icon-select-indicator(12px);
            background: url("/assets/vectors/filters/toggle-sprite.svg") no-repeat;
        }
    }

    &__tv-waves-message {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 8px 10px 9px 12px;
        background-color: #f4f6fa;
        font-size: 13px;
        line-height: 1.5;
        text-align: left;
        color: #5f6677;

        &--icon {
            width: 12px;
            height: 12px;
            display: inline-block;
            margin-bottom: 4px;
            margin-right: 10px;
        }
    }
}

.filter-tvchannels {
    @include filters-container-rules;

    &__scrollable-area {
        @include scrollable-area(43px);
    }

    &__list {
        @include mixins.normalize-ul;
        @include basic-list-item;

        &--meta,
        &--name {
            line-height: 22px;
        }

        &--name {
            color: #444955;
        }

        &--meta {
            color: #8792a9;
        }
    }

    &__header {
        position: relative;
        display: inline-block;
        padding: 8px 10px 9px 12px;
        width: 100%;
        line-height: 25px;
        border-bottom: 1px solid #d8e7ed;
        background: $color-item-bg;
        color: #283645;
        cursor: pointer;
        font-size: 14px;
        font-weight: 600;

        &--search {
            @include search-input;
            margin-right: 10px;
        }
    }
}

.filter-timezone {
    @include filters-container-rules;

    $timezone-left: 40px;

    &__info {
        padding: 10px;
        text-align: center;
        font-size: 14px;
        color: #8792a9;
    }

    &__error {
        margin: 10px;
        padding: 5px;
        border: 1px solid #96053a;
        border-radius: 4px;
        text-align: center;
        font-size: 13px;
        color: #96053a;
        background-color: #ffd6db;
    }

    &__header {
        color: #283645;
        padding: 17px 10px 14px 12px;
        font-size: 14px;
        font-weight: 600;
        border-bottom: 1px solid #d8e7ed;
        background: $color-item-bg;
    }

    &__radios {
        padding-top: 3px;
    }

    &__radio {
        position: relative;

        &--button {
            @include reset-button;
            padding-left: $timezone-left;
            border-bottom: 0;
            font-size: 14px;
            background: transparent;
            transform: translateY(1px);
            line-height: 20px;
        }

        &--toggle-icon {
            @include zindex.layer("FiltersResetButton");
            @include icon-select-indicator(12px);
            right: auto;
            left: 12px;
        }
    }

    &__dropdown {
        margin-left: $timezone-left;
        font-family: "Titillium Web", sans-serif;
        font-size: 13px;
        width: 154px;
        border-radius: 2px;
        box-shadow: 0 0 3px 0 #cccccc;

        &--button {
            width: 100%;
            height: 31px;
            color: #8792a9;
            font-size: 13px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 10px 0 11px;

            &--arrow {
                color: #3498db;
                display: flex;
                align-items: center;

                &.disabled {
                    opacity: 0.4;
                }
            }

            &.disabled {
                color: #cfd3dd;
            }

            &.selected {
                color: #3498db;
            }
        }

        &--options {
            max-height: 461px;
            overflow-y: auto;
        }

        &--option {
            background-color: #ffffff;
            color: #5f6677;
            padding-top: 7px;
            padding-bottom: 8px;
            padding-left: 11px;

            &:hover {
                background-color: #f4f6fa;
                color: #3798db;
                cursor: pointer;
            }
        }

        &.disabled {
            pointer-events: none;
        }
    }
}

.filter-splitters {
    @include filters-container-rules;

    &__scrollable-area {
        @include scrollable-area(77px);
    }

    &__list {
        @include mixins.normalize-ul;
        @include basic-list-item;
        @include empty-list;
    }

    &__header {
        padding: 0 10px 12px 15px;
        background: #ffffff;
        border-bottom: 1px solid #f4f6fa;
        height: auto;

        &--button {
            width: 100%;
            padding: 10px 0;
        }

        &--learn-more-link {
            font-size: 13px;
            font-weight: 600;
        }
    }

    &__toggle-with-label {
        @include toggle;
    }
}

.filter-audiences {
    @include filters-container-rules;
    display: flex;
    flex-direction: column;
    background: $color-item-bg;

    $header-height: 60px;
    $base-audience-height: 80px;
    $bottom-nav-height: 65px;

    &__header {
        display: flex;
        flex: 0 0 auto;
        align-items: center;
        justify-content: left;
        padding: 12px 0 12px 12px;
        height: $header-height;
        border-bottom: 1px solid $color-border;

        &--search {
            @include search-input;
            margin-right: 10px;
        }

        &--add-audience {
            @include top-nav-button;
            position: relative;
            top: 2px;
        }

        &--remove-audience {
            @include top-nav-button;
            position: relative;
            top: 3px;
        }

        &--deleting {
            &--confirm {
                @include top-nav-button;
                @include confirm-delete-btn;

                &--icon {
                    padding-top: 3px;
                    margin: auto;
                }
            }

            &--cancel {
                @include top-nav-button;
                @include confirm-delete-btn;

                &--icon {
                    margin: auto;
                }
            }
        }

        &--ungroup-drop-place {
            display: flex;
            align-items: center;
            justify-content: center;
            height: $header-height - 8px;
            width: 100%;
            margin: 4px 10px;
            padding: 10px;
            border: 1px dashed $color-light-text;
            border-radius: 4px;
            color: $color-text;

            &.drag-over {
                border: 2px dashed $color-light-text;
                padding: 9px;
            }
        }

        &.drop-place {
            padding: 0;
            background: $color-menu-background;
        }
    }

    &__sync {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        background: #f4f6fa;
        color: #8792a9;
        text-align: center;
        font-size: 14px;

        &--icon {
            display: inline-block;
            margin-right: 5px;
            margin-top: 2px;
        }
    }

    &__scroll-area {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }

    &__items-area {
        position: relative;
        flex: 1 1 auto;
        padding: 0;
        overflow: hidden;

        &.deleting {
            bottom: 0;
        }
    }

    &__folders {
        @include mixins.normalize-ul;

        &--folder {
            @include audience-and-folder-base-sizing;
            padding: 0;
            color: $color-audience-folder;
            border: 1px solid $color-audience-folder-border;
            background: $color-audience-folder-border;
            cursor: pointer;

            &.drag-over {
                opacity: 0.8;
            }

            &--link {
                display: block;
                padding: 11px 12px 0 12px;
                color: $color-audience-folder;

                &:hover {
                    color: $color-audience-folder;
                }
            }

            &--edit-name {
                border: 0;
                padding: 0;
                font-size: 13px;
                color: $color-audience-folder;
                background: transparent;
                outline: none;
                opacity: 0.5;
            }

            &--toggle-icon {
                @include icon-select-indicator(24px, 12px);
                background: url("/assets/vectors/filters/toggle-sprite-light.svg")
                    no-repeat;
            }

            &--subtitle {
                display: block;
                margin-bottom: 11px;
                color: $color-light-text;
            }

            &--toggle-all {
                display: block;
                position: relative;
                width: 100%;
                padding: 11px 12px;
                border-top: 1px solid #283645;
                font-size: 13px;
                line-height: 13px;
                text-decoration: none;
                color: $color-light-text;
                cursor: pointer;

                &--icon {
                    @include icon-select-indicator(11px, 12px);
                    background: url("/assets/vectors/filters/toggle-sprite-light.svg")
                        no-repeat;
                }
            }

            &--edit-icon {
                position: absolute;
                right: 9px;
                top: 20px;
                cursor: pointer;
                color: #ffffff;
                transition: all 0.15s linear;

                &:hover {
                    color: #a0d7eb;
                }
            }
        }
    }

    &__no-access {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        padding: 25px;
        text-align: center;

        &--header {
            color: #283645;
            font-size: 16px;
            margin-bottom: 10px;
        }

        &--message {
            color: #8792a9;
            font-size: 14px;
            margin-bottom: 15px;
        }

        &--button {
            $help-color: #3498db;
            padding: 8px 24px;
            border: 1px solid $help-color;
            border-radius: 100px;
            font-size: 14px;
            color: $help-color;
        }
    }

    &__audiences {
        @include mixins.normalize-ul;
        @include empty-list;
        user-select: none;

        &--empty--paragraph {
            color: inherit;
            font-size: inherit;
            padding: 0 12px;
        }

        &--audience {
            @include audience-and-folder-base-sizing;
            display: flex;
            align-items: center;
            height: 60px;
            white-space: nowrap;
            padding: 0 10px;
            color: $color-audience;
            border: 1px solid #1c8fca;
            background: $color-audience-bg;
            cursor: pointer;

            &--selected-icon[style*="background: transparent"],
            &--selected-icon[style*="background-color: transparent"] {
                visibility: hidden;
            }

            &:hover {
                background-color: $color-audience-hover-bg;
            }

            &:hover > &--selected-icon[style*="background: transparent"],
            &:hover > &--selected-icon[style*="background-color: transparent"] {
                visibility: visible;
            }

            &--edit {
                flex: 0;
                justify-self: right;
                transition: all 0.15s linear;

                &:hover {
                    color: #a0d7eb;
                }
            }

            &--name {
                flex: auto;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                margin: 0 4px;
                max-width: 200px;
            }

            &--status {
                flex: 0 1 20px;
            }

            &.deleting {
                opacity: 0.6;

                &.chosen-for-delete {
                    background-color: $color-audience-hover-bg;
                    opacity: 1;
                }
            }

            &.active {
                &::after {
                    content: "";
                }

                & .filter-audiences__audiences--audience--warnings {
                    display: none;
                }
            }

            &.dragged {
                cursor: -webkit-grabbing;
                cursor: -moz-grabbing;
                cursor: grabbing;
            }

            &.drag-over {
                border: 1px dashed #1c8fca;
                opacity: 0.8;
            }

            &.empty-expression &--warnings {
                display: flex;
                border-radius: 9px;
                width: 17px;
                height: 17px;
                padding: 0;
                margin: 0;
                border: 0;
                overflow: hidden;
                justify-content: center;
                align-items: center;

                & x-cooltip {
                    width: 18px;
                    height: 18px;
                }
            }

            &--selected-icon {
                position: absolute;
                top: calc(50% - 4px);
                left: 12px;
                width: 11px;
                height: 11px;
                border-radius: 10px;
                border: 1px solid #ffffff;
            }

            &--subtitle {
                display: block;
                opacity: 0.6;
            }

            &--warnings,
            &--errors {
                width: 20px;
                height: 20px;
                cursor: help;
            }

            &--error-tooltip-title {
                font-weight: bold;
            }

            &--error-tooltip-text {
                margin-top: 8px;
            }

            &.upsell {
                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 14px;
                    height: 14px;
                    top: 24px;
                    right: 18px;
                    background: transparent url("/assets/vectors/icons/cube.svg")
                        no-repeat;
                }
            }
        }
    }

    &__base-audience {
        flex: 0 0 auto;
        height: $base-audience-height;
        bottom: $bottom-nav-height;
        padding: 5px 10px;
        color: $color-text;
        background: $color-bg;

        &--drop-place {
            height: 100%;
            padding: 5px;
            border: 1px dashed $color-light-text;
            border-radius: 4px;

            &.drag-over {
                border: 2px dashed #6d737f;
                padding: 4px;
            }
        }

        &--default-base {
            padding: 5px;
            line-height: 17px;
            font-size: 15px;
            pointer-events: none;

            &--name {
                color: #283645;
            }
        }

        &--selected-base {
            @include audience-and-folder-base-sizing;
            display: block;
            height: 100%;
            padding: 0px 25px 0 12px;
            margin: 0;
            line-height: 60px;
            color: $color-audience;
            background: $color-audience-bg;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            pointer-events: none;

            &--remove {
                position: absolute;
                top: -1px;
                right: 12px;
                font-weight: bold;
                color: $color-text-active;
                cursor: pointer;
                transition: color 0.3s ease;
                pointer-events: initial;

                &:hover {
                    color: #ffffff;
                }

                &.inactive {
                    // when dragging over this audience
                    pointer-events: none;
                }
            }

            &--subtitle {
                display: block;
                opacity: 0.6;
            }
        }
    }

    &__bottom-nav {
        height: $bottom-nav-height;
        border-top: 1px solid $color-border;

        &--btn {
            width: 99px;
            height: 45px;
            margin: 10px 0px;
            font-size: 13px;
            text-align: center;
            border-right: 1px solid $color-border;
            color: #8792a9;

            &:hover,
            &.active {
                color: $color-audience-bg;
            }

            &:last-child {
                border-right: none;
            }
        }
    }
}

.filters__no-results {
    display: block;
    line-height: 59px;
    text-align: center;
    font-style: italic;
    color: $color-text;
}

.audiences-bar {
    $font-size: 11px;
    $font-color: #ffffff;

    $delete-font-size: 13px;
    $delete-background: rgba(0, 0, 0, 0.1);

    $add-audience-btn-text-color: #8792a8;
    $add-audience-btn-border-color: #c7d2e7;
    $add-audience-btn-hover-accent-color: #20bbfc;

    $border-radius: 3px;
    $default-background: #dddddd;

    padding: 3px 8px 7px 12px;
    display: block;
    font-size: $font-size;
    min-height: 47px;
    background: #f4f6fa;
    border-top: 1px solid #e9edf6;
    padding: 0;
    display: flex;

    &__container {
        position: relative;
        padding-left: 12px;
        padding-right: 8px;
        font-size: 11px;
        display: flex;
        align-items: center;

        &--ul {
            @include mixins.normalize-ul;
            display: block;
        }
    }

    &__item {
        position: relative;
        display: inline-block;
        padding-top: 4px;
        padding-right: 4px;

        &--button {
            position: relative;
            width: 125px;
            margin: 0;
            padding: 3px 33px 3px 9px;
            display: inline-block;
            border-radius: $border-radius;
            background: $default-background;
            font-size: $font-size;
            color: $font-color;
            outline: none;
            letter-spacing: 0.05em;
            text-align: left;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            cursor: pointer;
            box-sizing: border-box;

            &--delete-icon {
                @include mixins.position(absolute, 0, 0, 0, auto);
                width: 25px;
                padding: 1px 6px;
                font-size: $delete-font-size;
                text-align: center;
                background: $delete-background;

                &:hover {
                    background-color: rgba(0, 0, 0, 0.35);
                }

                &.reorder-ghost {
                    visibility: hidden;
                }
            }

            &.off {
                opacity: 0.5;
            }
        }

        &.reorder-ghost {
            z-index: 1;
        }

        &.reorder-placeholder {
            cursor: move;

            & * {
                opacity: 0;
                visibility: hidden;
            }
        }
    }

    &__add-audience {
        margin-top: 4px;
        padding: 3px 10px;
        border: 1px solid $add-audience-btn-border-color;
        border-radius: $border-radius;
        color: $add-audience-btn-text-color;
        letter-spacing: 0.05em;
        transition: all 0.2s ease;

        &--icon {
            display: inline-block;
            position: relative;
            top: 1px;
            margin-left: 6px;
            width: 10px;
            height: 10px;
            color: $add-audience-btn-border-color;
        }

        &:hover {
            background: $add-audience-btn-hover-accent-color;
            border-color: $add-audience-btn-hover-accent-color;
            color: $font-color;
        }

        &:hover &--icon {
            color: $font-color;
        }
    }

    &__base-audience {
        $font-color: #5f6677;
        $label-font-color: #8792a9;
        $default-background: #e9edf6;
        $main-font-size: 11px;

        display: flex;
        min-width: 118px;
        max-width: 200px;
        padding: 2px 10px 2px 20px;
        background: $default-background;
        font-size: $main-font-size;
        color: $font-color;
        line-height: 12px;

        &--drop-place {
            display: flex;
            justify-content: center;
            flex-direction: column;

            height: 100%;
            padding: 5px;
            border: 1px dashed $color-light-text;
            border-radius: 4px;

            &.drag-over {
                border: 2px dashed #6d737f;
                padding: 4px;
            }
        }

        &--label {
            display: block;
            color: $label-font-color;
            pointer-events: none;
        }

        &--text {
            pointer-events: none;

            &.present {
                color: #000000;
            }
        }

        &--remove-base-btn {
            position: relative;
            width: 14px;
            height: 14px;
            display: inline-block;
            overflow: hidden;
            top: 3px;
            margin-left: 2px;
            padding: 0px;
            pointer-events: initial;

            &.inactive {
                // when dragging over this audience
                pointer-events: none;
            }

            &--icon {
                color: #000000;
            }
        }
    }
}
