@use "crosstab-builder/XB2/src/XB2/Share/zindex" as zindex;
@use "crosstab-builder/XB2/src/XB2/Share/Platform2/colors" as P2Colors;
@use "crosstab-builder/XB2/src/XB2/Share/Platform2/Scrollbar/style" as Scrollbar;

@mixin autocomplete {
    &--search-icon {
        margin-left: -8px;
        margin-right: -4px;
        height: 32px;
    }

    &--container {
        position: relative;
        width: 100%;

        &--input-cont {
            display: flex;
            width: 100%;
            align-items: center;
            background: P2Colors.$grey1;
            border-radius: 2px;
            box-shadow: 0 0 0 1px P2Colors.$grey5;
            color: P2Colors.$grey5;
            flex-wrap: wrap;
            font-size: 14px;
            line-height: 1.5;
            min-height: 42px;
            padding: 4px 8px;
            text-transform: none;

            &:focus {
                border-color: P2Colors.$pink-dark;
                box-shadow: 2px 0 0 0 P2Colors.$pink-dark;
            }
            //outline the component when you focus the input email
            &:has(input:focus) {
                outline: 2px solid P2Colors.$pink-dark;
                border-radius: 4px;
            }
        }

        &--input {
            background: P2Colors.$grey1;
            border: 0;
            color: P2Colors.$navy;
            flex-grow: 2;
            font-size: 14px;
            font-weight: 600;
            height: 21px;
            line-height: 1.5;
            margin: 4px;
            padding: 1px 1px 1px 0;
            outline: none;

            &::placeholder {
                font-weight: 400;
                color: P2Colors.$grey6;
            }
        }

        &--selected-items {
            display: flex;
            flex: 1;
            height: auto;
            flex-wrap: wrap;

            &--item {
                position: relative;
                display: flex;
                padding: 4px 0 4px 8px;
                border-radius: 4px;
                background-color: P2Colors.$pink-dark;
                font-size: 14px;
                font-weight: 600;
                color: P2Colors.$white;
                height: 26px;
                align-items: center;
                margin: 4px 8px 4px 0;

                &--remove {
                    position: relative;
                    margin-left: 8px;
                    cursor: pointer;
                    color: inherit;
                    width: 29px;
                    height: 29px;
                    margin: 0;
                    padding: 0;
                    border: 0;
                }
            }
        }

        &--suggestions {
            @include zindex.layer("P2AutocompleteInputSuggestions");

            position: absolute;
            top: calc(100% + 4px);
            left: 0;
            width: 100%;
            max-height: 150px;
            overflow-y: auto;
            border-radius: 4px;
            box-shadow: 0 4px 19px 0 rgba(0, 0, 0, 0.25);
            background-color: P2Colors.$white;

            &--no-results {
                display: flex;
                width: 100%;
                height: 100%;
                justify-content: center;
                align-items: center;
                font-size: 16px;
                margin: 16px 0;
                color: P2Colors.$navy;
            }

            &--item {
                font-size: 14px;
                line-height: 1.5;
                color: P2Colors.$navy;
                cursor: pointer;
                padding: 10px 0 10px 10px;

                &:hover,
                &.selected {
                    background-color: P2Colors.$pink-bg;
                    line-height: 1.5;
                    letter-spacing: normal;
                    color: P2Colors.$pink-medium;
                }
            }
        }
    }
}
