@use "crosstab-builder/XB2/src/XB2/Share/Platform2/colors" as P2Colors;

$scrollbar-inner-offset: 4px;

@mixin native($bgColor: P2Colors.$grey2, $barColor: P2Colors.$grey4) {
    &::-webkit-scrollbar {
        width: 12px;
        height: 12px;
        border-radius: 6px;
    }

    &::-webkit-scrollbar-thumb {
        border: 3px solid transparent;
        border-radius: 6px;
        background-clip: content-box;
        background-color: $barColor;
    }

    &::-webkit-scrollbar-track {
        border-radius: 6px;
        background-color: $bgColor;
    }
}
