@use "crosstab-builder/XB2/src/XB2/Share/Platform2/Scrollbar/style" as P2Scrollbar;

@mixin treeDropdown() {
    &--tree-dropdown {
        &--empty-view {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px 45px 20px 68px;
            width: 100%;
            margin: 0 auto;
            flex-direction: column;
            text-align: center;

            &--header {
                color: #de1b76;
                font-size: 16px;
                font-weight: normal;
                margin-bottom: 11px;
            }

            &--copy {
                color: #191530;
                font-size: 16px;
                font-weight: 600;
                white-space: break-spaces;
            }
        }

        &--input-wrapper {
            display: flex;
            border: 1px solid #abb8cf;
            border-radius: 2px;

            &:hover {
                border-color: #de1b76;
                color: #de1b76;
                cursor: pointer;
            }

            &--input {
                padding: 7px 0 7px 8px;
                height: 32px;
                font-size: 14px;
                font-weight: 600;
                flex: 1;
            }

            &--icon {
                height: 32px;
            }

            &.is-open {
                border-color: #a40f58;
            }

            &.is-open &--input {
                background-color: #a40f58;
                color: #ffffff;
            }

            &.is-open &--icon {
                background-color: #a40f58;
                color: #ffffff;
            }
        }

        &--options-wrapper {
            margin: 2px 0 1px 1px;
            padding: 1px 2px 8px 0;
            border-radius: 4px;
            box-shadow: 0 4px 19px 0 rgba(0, 0, 0, 0.25);
            height: 286px;

            &--scrollbar {
                overflow: auto;
                height: 100%;
                padding: 0 2px 0 0;
            }

            &--loading {
                .p2-spinner {
                    position: relative;
                    height: 56px;
                    width: 56px;
                }

                height: 100px;
                display: flex;
                flex-direction: column;

                &--info {
                    margin: 0 auto;
                    font-size: 18px;
                    line-height: 1.11;
                    color: #191530;
                }
            }

            &--divider {
                width: calc(100% - 16px);
                height: 1px;
                margin: 0 12px 0 9px;
                background-color: #dfe7f5;
                border: none;
            }

            &--option {
                position: relative;
                display: flex;
                flex-direction: column;
                width: calc(100% - 8px);

                &.disabled:hover:before {
                    content: attr(data-title);
                    position: absolute;
                    color: #ffffff;
                    padding: 4px 8px;
                    background: #191530;
                    border-radius: 4px;
                    font-size: 12px;
                    font-weight: normal;
                    top: 24px;
                    left: 32px;
                }

                &--info {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    color: #191530;
                    user-select: none;

                    .disabled & {
                        opacity: 0.4;
                    }

                    :not(.disabled) &:hover {
                        color: #de1b76;
                        cursor: pointer;
                    }

                    &.is-open {
                        color: #a40f58;
                        font-weight: 600;
                    }

                    &--icon {
                        height: 40px;
                    }

                    &--name {
                        font-size: 14px;
                        line-height: 1.5;
                        color: currentColor;
                        height: 21px;
                        margin-top: 10px;
                        margin-bottom: 9px;
                        flex: 1 0 auto;
                    }
                }

                &--nested {
                    margin-left: 20px;
                    flex-direction: column;

                    &--loading {
                        display: flex;
                        margin-top: 12px;
                        margin-bottom: 24px;
                    }

                    .p2-spinner {
                        position: relative;
                        width: 22px;
                        height: 22px;
                    }

                    &--message {
                        flex: 1 1 auto;
                        margin-left: 10px;
                        font-size: 14px;
                        line-height: 1.43;
                        color: #191530;
                    }
                }
            }
        }
    }
}
